.ant-drawer-body{
    font-size: 12px;
}
.form-control {
    border: 1px solid #ccd0d4;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 5px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.form-group textarea{
    height: 70px !important;
}
label {
    font-weight: 600;
    color: #242a30;
    display: inline-block;
    max-width: 100%;
    margin: 5px 0;
}
.btn {
    display: inline-block;
    padding: 6px 18px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    background: #2a72b5;
    border-color: #2a72b5;
    color: #fff;
    margin-left: 10px;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn:hover{
	background: #008a8a;
	border-color: #008a8a
}
.container{
    margin: 15px;
}
.ant-table-content table{
    border-radius: 0 !important;
}
.ant-table-content table thead{
    border-radius: 0 !important;
}
.ant-spin-container{
    background: #fff;
}
.ant-pagination{
    padding: 10px;
}
.ant-pagination-item, .ant-pagination-options-size-changer, .ant-select-selector {
    border-radius: 0 !important;
    line-height: 26px !important;
    min-width: 28px !important;
    min-height: 28px !important;
    height: 28px !important;
}
.ant-table-cell{
    background: #fff !important;
}
@media (min-width: 768px) {
    .col-sm-3 {
        width: 25%;
        float: left;
    }
    .col-sm-9 {
        width: 75%;
        float: left;
    }
    .col-sm-6 {
        width: 50%;
        float: left;
    }
    .col-sm-12 {
        width: 100%;
        float: left;
    }
}
.clear{
    clear: both;
}
.form-group{
    overflow: hidden;
    margin-top: 5px;
}
.panel-body{
    padding: 15px 0;
    display: block;
    background: #fff;
    text-align: right;
}
.panel_body_top {
    padding: 10px;
    display: block;
    background: #fff;
    text-align: right;
}
.ant-btn{
    border-radius: 3px !important;
    padding: 10px;
    font-size: 13px;
    height: auto;
}
.form-group .ant-select{
    width: 100%;
}
.form-group .ant-select .ant-select-selector{
    padding: 5px 15px;
    height: 34px !important;
    font-size: 13px;
}
.form-group .ant-select-outlined{
    height: auto !important;
}
.ant-table{
    font-size: 13px !important;
}
.ant-table-cell{
    padding: 10px 15px !important;
}
.form-group .ant-picker{
    width: 100%;
    border-radius: 0;
    font-size: 13px !important;
}
.form-group .ant-picker input{
    font-size: 13px !important;
    padding: 1px;
}
.ant-table-cell svg{
    cursor: pointer;
}
.ant-table-cell svg:hover{
    color: #2a72b5;
}
.comfirm_title{
    color: orange;
    font-size: 27px;
    display: flex;
    margin-bottom: 10px;
}
.comfirm_title label{
    font-size: 20px;
    margin: 0 0 0 10px;
    line-height: 30px;
    padding: 0 !important;
}